package components



templ HeadMetaData() {

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow"/>

    <script src="https://cdn.jsdelivr.net/npm/@squaresapp/rawjs/raw.min.js"></script>

}

